 <div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/tokenblockchain">区块</a></li>
          <li class="breadcrumb-item active">账户</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-12 col-xs-12">
        <div class="card-box">
          <h4 class="header-title">实时总账户数：
            <span id="totalAccount"></span>
          </h4>
          <p class="text-muted font-14 m-b-5">目前共 <span id="total"></span> 个区块</p>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>排名</th>
                  <th>地址</th>
                  <th>持有量占比</th>
                  <th>余额</th>
                  <th>交易次数</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="/accountdetails">0x742d35cc6634c0532925a3b844bc454e4438f44e</a></td>
                  <td>1.60985843%</td>
                  <td>1,661,212.59700516 BIUT</td>
                  <td>1111</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="/accountdetails">0x742d35cc6634c0532925a3b844bc454e4438f44e</a></td>
                  <td>1.60985843%</td>
                  <td>1,661,212.59700516 BIUT</td>
                  <td>1111</td>
                </tr>
              </tbody>
            </table>
            <div class="page">
              分页
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->