<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Current TPS</h4>
          <div class="widget-chart text-center">
            <div id="currenttps-sparkline"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Transactions of the latest 14 blocks</h4>
          <div class="widget-chart text-center">
            <div id="transactions-sparkline"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <h3 class="text-success counter font-bold mt-0"
            id="onlineNode"></h3>
          <span class="text-muted mb-0">Nodes online</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <h3 class="text-primary counter font-bold mt-0"
            id="currentHeight"></h3>
          <span class="text-muted mb-0">Current Height</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <h3 class="text-pink counter font-bold mt-0"
            id="accountNumber"></h3>
          <span class="text-muted mb-0">Current Accounts</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <h3 class="counter font-bold mt-0" id="totalTransactions" style="color: #807cd6"></h3>
          <span class="text-muted mb-0">BIUT / BIU Transactions</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <div>
            <h3 class="text-warning counter font-bold mt-0"
              style="display: inline-block;" id="current"></h3>
            /
            <h3 class="text-warning counter font-bold mt-0"
              style="display: inline-block;" id="peak"></h3>
          </div>
          <span class="text-muted mb-0">Current/Peak TPS</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget-simple text-center card-box">
          <h3 class="text-success counter font-bold mt-0" id="price"></h3>
          <span class="text-muted mb-0">Price</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <div class="indexList">
            <h4 class="m-t-0 header-title">BIUT Blockchain</h4>
            <a href="/tokenblockchain">More</a>
          </div>
          <div class="inbox-widget nicescroll mx-box scrollbar" tabindex="5000"
            id="token-block-chain-list" style="overflow-y: scroll; padding-left:
            5px; padding-right: 10px;">
          </div>
        </div>
      </div>
      <!-- end col -8 -->
      <div class="col-lg-6">
        <div class="card-box">
          <div class="indexList">
            <h4 class="m-t-0 header-title">BIUT Transactions</h4>
            <a href="/tokentxlist">More</a>
          </div>
          <div class="inbox-widget nicescroll mx-box scrollbar" tabindex="5000"
            id="token-trans-list" style="overflow-y: scroll; padding-left: 5px;
            padding-right: 10px;">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card-box">
          <div class="indexList">
            <h4 class="m-t-0 header-title">BIU Blockchain</h4>
            <a href="/sen/tokenblockchain">More</a>
          </div>
          <div class="inbox-widget nicescroll mx-box scrollbar" tabindex="5000"
            id="sen-token-block-chain-list" style="overflow-y: scroll; padding-left:
            5px; padding-right: 10px;">
          </div>
        </div>
      </div>
      <!-- end col -8 -->
      <div class="col-lg-6">
        <div class="card-box">
          <div class="indexList">
            <h4 class="m-t-0 header-title">BIU Transactions</h4>
            <a href="/sen/tokentxlist">More</a>
          </div>
          <div class="inbox-widget nicescroll mx-box scrollbar" tabindex="5000"
            id="sen-token-trans-list" style="overflow-y: scroll; padding-left: 5px;
            padding-right: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->