<div class="ex-page-content" style="margin-top: 80px">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="message-box">
          <h2>Logs</h2>
          <pre><%= logs %></pre>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="message-box">
          <h2>Errors</h2>
          <pre><%= errors %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
