<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/tokenblockchain">Token
              Blockchain</a></li>
          <li class="breadcrumb-item active">Node Informations</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="header-title">Current Nodes <span id="currentNode"><%= nodes.length %></span></h4>
          <div id="world-map-markers" style="height: 400"></div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end container -->