<div class="wrapper">
  <div class="container-fluid">
    <div class="row justify-content-md-center" style="margin-top: 50px;">
      <div class="col-md-3">
        <h2>Client Full-node Wallet Download</h2>
        <ul style="list-style: disc; margin:20px 0px 30px 30px;">
          <li style="list-style: disc">Create or Import Wallet</li>
          <li style="list-style: disc">Sent and Receipt</li>
          <li style="list-style: disc">Nodes Query</li>
          <li style="list-style: disc">Mining</li>
        </ul>
        <a href="" class="btn btn-md btn-primary waves-effect waves-light"
          style="width: 250px; margin-bottom: 10px" id="download-mac"><i
            class="fa fa-apple"></i> Download Mac</a><br>
        <a href="" class="btn btn-md btn-success waves-effect waves-light"
          style="width: 250px; margin-bottom: 10px" id="download-win"><i
            class="fa fa-windows"></i> Download Windows</a>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/pc.png" style="width: 80%" alt="PC">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 50px;">
      <div class="col-md-3">
        <h2>Mobile Wallet Download</h2>
        <ul style="list-style: disc; margin:20px 0px 30px 30px;">
          <li style="list-style: disc">Create or Import Wallet</li>
          <li style="list-style: disc">Sent and Receipt</li>
        </ul>
        <div class="card-box" style="display: inline-block;">
          <p style="text-align: center"><a
              href="/secwallet-mobile" style="color: #98a6ad;"><img
                alt="" src="images/qrcode.png" style="height:160px;
                width:160px" /><br>scan the QR Code<br><strong>Download mobile wallet</strong></a></p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/phone.png" style="width: 60%" alt="PC">
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->
