<div class="wrapper">
  <div class="container-fluid">
    <div class="row justify-content-md-center" style="margin-top: 50px;">
      <div class="col-md-3">
        <h2>Client Full-node Wallet Download</h2>
        <ul style="list-style: disc; margin:20px 0px 30px 30px;">
          <li style="list-style: disc">Create or Import Wallet</li>
          <li style="list-style: disc">Sent and Receipt</li>
          <li style="list-style: disc">Nodes Query</li>
          <li style="list-style: disc">Mining</li>
        </ul>
        <a href="" class="btn btn-md btn-primary waves-effect waves-light"
          style="width: 250px; margin-bottom: 10px" id="download-mac"><i
            class="fa fa-apple"></i> Download Mac</a><br>
        <a href="" class="btn btn-md btn-success waves-effect waves-light"
          style="width: 250px; margin-bottom: 10px" id="download-win"><i
            class="fa fa-windows"></i> Download Windows</a>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/pc.png" style="width: 80%" alt="PC">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 50px;">
      <div class="col-md-3">
        <h2>Mobile Wallet Download</h2>
        <ul style="list-style: disc; margin:20px 0px 30px 30px;">
          <li style="list-style: disc">Create or Import Wallet</li>
          <li style="list-style: disc">Sent and Receipt</li>
        </ul>
        <div class="card-box" style="display: inline-block;">
          <p style="text-align: center"><a
              href="itms-services://?action=download-manifest&url=http://scan.secblock.io/download.plist"><img
                alt="" src="images/qrcode-iphone.png" style="height:160px;
                width:160px" /></a>scan the QR Code<br><strong>Download mobile wallet</strong></p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/phone.png" style="width: 60%" alt="PC">
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>

<!-- end wrapper -->

<!-- <div class="card-box downCnt">
<img src="/images/windows.png" alt="windows"
  class="downImg">
<h4 class="downTit" id="filename-win">Loading</h4>
<p class="downTxt" id="updated-win">Loading</p>
<a href="" class="btn downBtn" id="download-win">Download</a>
</div>
</div>
<div class="col-md-4 text-center">
<div class="card-box downCnt">
<img src="/images/ios.png" alt="IOS" class="downImg">
<h4 class="downTit" id="filename-mac">Loading</h4>
<p class="downTxt" id="updated-mac">Loading</p>
<a href="" class="btn downBtn" id="download-mac">Download</a>
</div>
</div> -->