<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 text-center downLeft">
        <div class="card-box downCnt">
          <img src="/images/windows.png" alt="windows"
            class="downImg">
          <h4 class="downTit" id="filename-win">Loading</h4>
          <p class="downTxt" id="updated-win">Loading</p>
          <a href="" class="btn downBtn" id="download-win">Download</a>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card-box downCnt">
          <img src="/images/ios.png" alt="IOS" class="downImg">
          <h4 class="downTit" id="filename-mac">Loading</h4>
          <p class="downTxt" id="updated-mac">Loading</p>
          <a href="" class="btn downBtn" id="download-mac">Download</a>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->