<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SEC Mobile Wallet</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"
      type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/public.css" rel="stylesheet" type="text/css" />
    <style>
      .logo {
        position: absolute;
        top: 20%;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        color: white;
      }
      .logo img {
        width: 20%;
        margin-bottom: 30px;
      }
      .button-block {
        position: absolute;
        margin-top: 200px;
        left: 15%;
        width: 70%;
      }
      .button-block a {
        margin-bottom: 20px; 
      }
      .cloud-img {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 50%;
        bottom: 0;
        opacity: 0.8;
      }
      .bottom-img {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="logo">
      <img src="/images/logo-mobile.png">
      <h2>SEC Wallet</h2>
      <p><small>Version 1.0.0</small></p>
      <div class="button-block">
        <a class="btn btn-block btn-success btn-rounded w-md waves-effect waves-light m-b-5" href="itms-services://?action=download-manifest&url=http://scan.secblock.io/download.plist"><i class="fa fa-apple"></i> Download iPhone Wallet APP</a>
        <a class="btn btn-block btn-primary btn-rounded w-md waves-effect waves-light m-b-5" href="/android-wallet.pkg"><i class="fa fa-android"></i> Download Android Wallet APP</a>
      </div>
    </div>
    <img class="cloud-img" src="/images/cloud-mobile.png">
    <img class="bottom-img" src="/images/img-mobile.png">
  </body>
</html>