<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/tokenblockchain">区块</a></li>
          <li class="breadcrumb-item active">交易详情</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-lg-12">
        <div class="card-box">
          <div>
            <label class="publicListTit tradingListTit text-left">哈希值：</label>
            <span class="publicListTxt tradingListTxt" id="hashValues"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">状态：</label>
            <span class="publicListTxt tradingListTxt" id="state"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">高度：</label>
            <span class="publicListTxt tradingListTxt" id="heightBlock"></span>
          </div>

          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">时间：</label>
            <span class="publicListTxt tradingListTxt" id="time"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">发送方：</label>
            <span class="publicListTxt tradingListTxt" id="sender"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">接收方：</label>
            <span class="publicListTxt tradingListTxt" id="receiving"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">价值：</label>
            <span class="publicListTxt tradingListTxt" id="valueOf"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">GasUsed：</label>
            <span class="publicListTxt tradingListTxt" id="gasUsed"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">GasLimit：</label>
            <span class="publicListTxt tradingListTxt" id="gasLimit"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">Gas Price：</label>
            <span class="publicListTxt tradingListTxt" id="price"></span>
          </div>

          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">Version：</label>
            <span class="publicListTxt tradingListTxt" id="version"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">TxFee：</label>
            <span class="publicListTxt tradingListTxt" id="txFee"></span>
          </div>
          <div class="p-t-10">
            <label class="publicListTit tradingListTit text-left">InputData：</label>
            <span class="publicListTxt tradingListTxt" id="inputData"></span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->