<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/tokenblockchain">区块</a></li>
          <li class="breadcrumb-item active">交易</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-12 col-xs-12">
        <div class="card-box">
          <h4 class="header-title">目前共 <span id="total"></span> 笔交易</h4>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>交易哈希</th>
                  <th>区块</th>
                  <th>块龄</th>
                  <th>发送方</th>
                  <th>接收方</th>
                  <th>价值</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/tokentxdetails">aab4bc6c4fcd3a4b97e9a...</a></td>
                  <td><a href="/tokenblockdetails">6701280</a></td>
                  <td>4 minutes ago</td>
                  <td><a href="/accountdetails">0xeebd6206f56c6f795ee...</a></td>
                  <td><a href="/accountdetails">0xeebd6206f56c6f795ee...</a></td>
                  <td>0.1 BIUT</td>
                </tr>
                <tr>
                  <td><a href="/tokentxdetails">aab4bc6c4fcd3a4b97e9a...</a></td>
                  <td><a href="/tokenblockdetails">6701280</a></td>
                  <td>4 minutes ago</td>
                  <td><a href="/accountdetails">0xeebd6206f56c6f795ee...</a></td>
                  <td><a href="/accountdetails">0xeebd6206f56c6f795ee...</a></td>
                  <td>0.1 BIUT</td>
                </tr>
              </tbody>
            </table>
            <div class="page">
              分页
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end container -->
</div>
<!-- end wrapper -->