<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <!-- Vendor CSS -->
  <link href="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css"
    rel="stylesheet">
  <link href="/vendors/bower_components/animate.css/animate.min.css"
    rel="stylesheet">
  <link href="/vendors/bower_components/sweetalert/dist/sweetalert.css"
    rel="stylesheet">
  <link
    href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css"
    rel="stylesheet">
  <link
    href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"
    rel="stylesheet">
  <!-- CSS -->
  <link href="/css/app_1.min.css" rel="stylesheet">
  <link href="/css/app_2.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
  <header id="header" class="clearfix">
    <ul class="h-inner clearfix">
      <li class="hi-logo hidden-xs">
        <a href="/" class="p-l-10">
          <img src="/img/logo.png" alt="" class="logo-img"> BIUT Blockchain
          Explorer Test V0.1
        </a>
      </li>
      <!-- <li class="hi-logo hidden-xs">
        <a href="/">BIUT Blockchain Explorer</a>
      </li> -->
      <li class="pull-right">
        <ul class="hi-menu">
          <li data-ma-action="search-open">
            <a href=""><i class="him-icon zmdi zmdi-search"></i></a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Top Search Content -->
    <div class="h-search-wrap">
      <div class="hsw-inner">
        <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
        <input type="text">
      </div>
    </div>
    <nav class="ha-menu">
      <ul>
        <li><a href="/">Token Blockchain</a></li>
        <li><a href="/transactionchain">Transaction Blockchain</a></li>
        <li><a href="/tokenpool">Token Pool</a></li>
        <li class="active"><a href="/transactionpool">Transaction Pool</a></li>
        <li><a href="/nodeinfo">Node Details</a></li>
        <li><a href="/secwallet">BIUT Wallet</a></li>
      </ul>
    </nav>
  </header>

  <section id="main">
    <section id="content" style="padding-left: 15px">
        <div class="row">
          <div class="col-sm-5">
            <!-- Recent Items -->
            <div class="card">
              <div class="card-header">
                <h2>BIUT Transaction Tx <small>Hash List</small></h2>
                <ul class="actions">
                  <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="">Refresh</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="card-body m-t-0" style="max-height: 1000px;
                overflow-y: scroll">
                <table class="table table-inner table-vmiddle">
                  <thead>
                    <tr>
                      <th>Transaction Hash</th>
                    </tr>
                  </thead>
                  <tbody id="transaction-poll-hash-list">
                  </tbody>
                </table>
              </div>
              <div id="recent-items-chart" class="flot-chart"></div>
            </div>
          </div>

          <div class="col-sm-7">
            <!-- Recent Items -->
            <div class="card">
              <div class="card-header">
                <h2>BIUT Transaction Tx Pool <small>Transactions</small></h2>
                <ul class="actions">
                  <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="">Refresh</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="card-body m-t-0" style="max-height: 1000px;
                overflow-y: scroll">
                <table class="table table-inner table-vmiddle">
                  <thead>
                    <tr>
                      <th>Transaction Information</th>
                      <th>Product</th>
                      <th>Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody id="transaction-pool-list">
                  </tbody>
                </table>
              </div>
              <div id="recent-items-chart" class="flot-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <footer id="footer">
    Copyright &copy; 2018 BIUT-Block

    <ul class="f-menu">
      <li><a href="https://www.secblock.io/">Project Home</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </footer>

  <!-- Page Loader -->
  <div class="page-loader">
    <div class="preloader pls-white">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
      </div>
    </div>

    <!-- Javascript Libraries -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script
      src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script
      src="/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="/vendors/bower_components/moment/min/moment.min.js"></script>
    <script
      src="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script
      src="/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
            <script src="/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
    <script src="/js/app.js"></script>
    <script src="/js/custom-transactionpool.js"></script>
  </body>

</html>